{% extends 'layout.twig' %}

{% block content %}
  <div class="uk-container uk-container-expand">
    <ul class="uk-breadcrumb">
      <li class="uk-disabled"><a>Mon compte</a></li>
      <li><span>Mes informations</span></li>
    </ul>
    <div id="content" class="uk-card uk-card-default uk-card-body">
      <h1 class="uk-card-title">Mes informations</h1>
      <span></span>
      <hr class="uk-margin-medium-bottom">
      <form id="account" class="uk-form-horizontal uk-margin-medium">
        <div class="uk-margin">
          <label class="uk-form-label" for="first_name">PRÉNOM</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="first_name" type="text" placeholder="Votre nom de famille" name="first_name"
                   value="{{ user.first_name }}" required>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="last_name">NOM</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="last_name" type="text" placeholder="Votre prénom" name="last_name" value="{{ user.last_name }}" required>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="department">DÉPARTEMENT (ID)</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="department" type="text" placeholder="86" maxlength="2" name="department"
                   value="{{ user.department }}" required>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="email">EMAIL</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="email" type="email" placeholder="vous@exemple.fr" name="email" value="{{ user.email }}" required>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="password">MOT DE PASSE</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="password" type="password" placeholder="••••••••••••" minlength="8"
                   name="password">
            <span class="uk-text-meta">Le mot de passe doit contenir au moins 8 caractères.</span>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="password_confirmation">CONFIRMATION DU MOT DE PASSE</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="password_confirmation" type="password" placeholder="••••••••••••" minlength="8" name="password_confirmation">
          </div>
        </div>
        <br class="uk-visible@m">
        <button class="uk-button uk-button-secondary uk-width-1-1" type="submit">Éditer</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script defer>
    $(document).ready(function () {
      var request;
      // ACCOUNT FORM
      $("#account").submit(function (event) {
        UIkit.notification.closeAll();
        $("input").removeClass('uk-form-danger');
        event.preventDefault();
        if (request) {
          request.abort();
        }

        var $form = $(this);
        var $inputs = $form.find("input, select, button, textarea");
        var serializedData = $form.serialize();
        var buttonText = $form.find('button').html();
        $form.find('button').html('<div uk-spinner></div>');
        $inputs.prop("disabled", true);

        request = $.ajax({
          url: "http://{{ constant('HTTP_HOST') }}/api.arrosmart.tk/public/user?token={{ this.session.userdata('token') }}",
          type: "put",
          data: serializedData
        });


        request.done(function (response, textStatus, jqXHR) {
          UIkit.notification("<span uk-icon='icon: check'></span> Vos informations ont été modifiées avec succès !", {status: 'success'});
        });
        request.fail(function (jqXHR, textStatus, errorThrown) {
          var errors = ' ';
          for (property in jqXHR.responseJSON) {
            for (i in property) {
              if (jqXHR.responseJSON[property][i] != undefined) {
                errors += '- ' + jqXHR.responseJSON[property][i] + '<br>';
              }
            }
            $("#account").find("input[name=" + property + "]").addClass('uk-form-danger');
          }
          if (errorThrown === 'Unprocessable Entity') {
            UIkit.notification("<span uk-icon='icon: close'></span>" + errors, {status: 'danger', timeout: 8000});
            $("#auth").removeClass('uk-animation-fade').addClass('uk-animation-shake');
            window.setTimeout(function () {
              $("#auth").removeClass('uk-animation-shake');
            }, 500);
          } else {
            UIkit.notification("<span uk-icon='icon: ban'></span> Une erreur est survenue, veuillez rafraichir la page ou réessayer plus tard.", {status: 'danger'});
          }
        });
        request.always(function () {
          $form.find('button').html(buttonText);
          $inputs.prop("disabled", false);
        });
      });
    });
  </script>
{% endblock %}